[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elevenlabs = "*"
pydub = "*"
openai = "*"
pillow = "*"
opencv-python = "*"
requests = "*"
python-dotenv = "*"
fal-client = "*"
moviepy = "*"
streamlit = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
