elevenlabs
pydub
openai
pillow
opencv-python
requests
python-dotenv
fal-client
moviepy
google-api-python-client==2.161.0
httplib2
google-auth
google-auth-oauthlib
oauth2client
streamlit
fastapi
uvicorn
logger